<%= render partial: 'shared/nav' %>

<div class="container">
  <h1 id="username"><%= current_user.name %></h1>
  <h4 id="karma">Karma: <%= current_user.karma %></h3>
  <%#= link_to "Logout", logout_path, class: "button" %>
</div>
