
<h1 class="home-question">Are you curious?</h1>

<%= link_to "I am curious", "https://www.reddit.com/api/v1/authorize?client_id=#{ENV['reddit_id']}&response_type=code&state=567&redirect_uri=http://localhost:3000/auth/reddit/callback&scope=identity", class: "btn" %>
