body {
  background: #262626;
}

/*
======
Home
======
*/
.home-question {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 48px;
  color: #f7af67;
  text-align: center;
  margin-top: 200px;
}

/*
======
user dashboard
======
*/

#username {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 48px;
  color: #f7af67;
  text-align: center;
}

#karma {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #f7af67;
  text-align: center;
}

.subreddit-link {
  background-color: #515151;
}

/*
======
nav
======
*/

.nav {
  background: green;
  margin-top: 0px;
}

/*
======
subreddit show
======
*/

.sub-name {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 48px;
  color: #f7af67;
  text-align: center;
}

.side-bar {
  /*width: 300px;*/
  height: 100%;
}

.post {
  height: 40px;
  background-color: #515151;
}

.comment-column {
  background-color: #515151;
  border-left: 1px solid #f7af67;
}

.comment-link{
  color: #f7af67;
}

.comment-link:hover {
  color: #81c784;
}

.post-link {
  color: #81c784;
}

.post-link:hover {
  color: #f7af67;
}

.side-rules {
  background-color: green;
}

/*
======
buttons
======
*/

.button {
  padding: 10px 10px 10px 10px;
  border: 1px solid #f7af67;
  border-radius: 5px;
  color: #f7af67;
  text-decoration: none;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.button:hover {
  color: #262626;
  background: #f7af67
}

.blue {
  background: blue;
}
