body {
  background: #262626;
}

/*
======
Home
======
*/
.home-question {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 48px;
  color: #f7af67;
  text-align: center;
  margin-top: 200px;
}

/*
======
user dashboard
======
*/

#username {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 48px;
  color: #f7af67;
  text-align: center;
}

#karma {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #f7af67;
  text-align: center;
}

.collection-item {
  background: #5b5a5a;
}

/*
======
nav
======
*/

.nav {
  background: green;
  margin-top: 0px;
}

/*
======
subreddit show
======
*/

.sub-name {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 48px;
  color: #f7af67;
  text-align: center;
}

.side-bar {
  /*width: 300px;*/
  height: 100%;
}



/*
======
buttons
======
*/

.button {
  padding: 10px 10px 10px 10px;
  border: 1px solid #f7af67;
  border-radius: 5px;
  color: #f7af67;
  text-decoration: none;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.button:hover {
  color: #262626;
  background: #f7af67
}

.blue {
  background: blue;
}
